@import '@fontsource/vazirmatn/index.css';

:root {
  --secondry-background-color: #fafafa;
  --background-color: #ffffff;
  --them-background-color: #ebebeb;
  --text-color: #212121;
  --secondry-text-color: #707070;
  --them-color: #a62626;
  --secondry-them-color: #f7f1f1;
  --border-color: #ebebeb;
}

body {
  color: var(--text-color);
  background: var(--background-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Vazirmatn', sans-serif;
  font-size: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.loader {
  display: block;
  text-align: center;
  margin: 15px auto;
}

input,
button {
  background-color: inherit;
  border: none;
  outline: none;
  border-radius: 5px;
}

input::placeholder {
  font-size: 0.8rem;
}

input {
  padding: 10px;
  width: 100%;
  border: 1px solid var(--border-color);
}

button,
a {
  cursor: pointer;
}

@media (max-width: 600px) {
  :root {
    font-size: 17px;
  }

  button,
  a {
    cursor: default;
  }
}

@media (max-width: 700px) {
  body {
    padding-bottom: 70px;
  }
}
